<p class="px-8 text-center text-sm text-default-500">
    By clicking continue, you agree to our 
    <LumexLink href="/terms" Class="underline underline-offset-4 hover:text-primary">Terms of Service</LumexLink>
    and 
    <LumexLink href="/privacy" Class="underline underline-offset-4 hover:text-primary">Privacy Policy</LumexLink>.
</p>
